<config>
    <addresse>
        <ip1>10</ip1>
        <ip2>11</ip2>
        <ip3>100</ip3>
        <ip4>64</ip4>
        <mask>29</mask>
    </addresse>
    <controller>
        <user>ubnt</user>
        <mdp>ubnt</mdp>
        <url>telecomservices.ch</url>
        <port>55880</port>
        <timeout>5</timeout>
    </controller>
</config>